<!--

 Navbar pour les pages web du site.
 Elle peut etre different selon ce qui est envoyé en parametre.

-->

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <!-- retour à la page principale -->
      <a class="navbar-brand" href="index.html">Location GSI</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- Espace gestionnaire -->
            <a class="nav-link" href="about.html">Gestionnaire</a>
          </li>
          <li class="nav-item">
            <!-- Espace de reservation -->
            <a class="nav-link" href="services.html">Reservation</a>
          </li>
          <li class="nav-item">
             <!-- info entreprise -->
            <a class="nav-link" href="services.html">Nous connaitre</a>
          </li>
          <li class="nav-item">
            <!-- Page de contact -->
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
             <!-- Page de inscription -->
            <a class="nav-link" href="inscription.html">Inscription</a>
          </li>
          <li class="nav-item">
             <!-- Page de connexion -->
            <a class="nav-link" href="connexion.html">Connexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
